<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aunthtoo.welcomevoting">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        
        <activity android:name=".choosepages.King"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
        
        <activity android:name=".choosepages.Smart"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
        
        <activity android:name=".choosepages.Popular"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>

        <activity android:name=".choosepages.Joker"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>

        <activity android:name=".choosepages.AllKing"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
        
        <activity android:name=".choosepages.Queen"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
        
        <activity android:name=".choosepages.Glory"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
        
        <activity android:name=".choosepages.Attraction"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>

        <activity android:name=".choosepages.Innocence"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>

        <activity android:name=".choosepages.AllQueen"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>

        <activity android:name=".About"
            android:parentActivityName=".Main"/>


        <activity android:name=".choosepages.BestCouple"
            android:theme="@style/ChooseTheme"
            android:parentActivityName=".Main"/>
    </application>

</manifest>